button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.15s ease;
}

header button:hover {
  transform: scale(0.9);
}
