.nav {
  max-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  font-size: 20px;
}

@font-face {
  font-family: JockeyOne; 
  src: url(/src/fonts/JockeyOne-Regular.ttf);
}

.nav-pill {
  text-decoration: none;
  color: white;
  font-family: JockeyOne;
  transition: background-color 0.3s, color 0.3s;
}

.body {
  background-color: rgb(17, 17, 17);
  font: sans-serif;
  color: white;
}

.section-pic {
  width: 15%;
  height: auto;
  border-radius: 8px;
}

.vinyl {
  position: fixed;
  top: 50px;
  left: -250px;
  max-height: 750px;
  rotate: 62deg;
  overflow: hidden;
}

.vinyl img {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: center center; /* ensures it rotates around the middle */
}

